In [186]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [187]:
data = pd.read_csv("Bank-data.csv")
data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [188]:
data.describe()

,Unnamed: 0,interest_rate,credit,march,may,previous,duration
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,258.500000,2.835776,0.034749,0.266409,0.388031,0.127413,382.177606
std,149.677988,1.876903,0.183321,0.442508,0.814527,0.333758,344.295990
min,0.000000,0.635000,0.000000,0.000000,0.000000,0.000000,9.000000
25%,129.250000,1.042750,0.000000,0.000000,0.000000,0.000000,155.000000
50%,258.500000,1.466000,0.000000,0.000000,0.000000,0.000000,266.500000
75%,387.750000,4.956500,0.000000,1.000000,0.000000,0.000000,482.750000
max,517.000000,4.970000,1.000000,1.000000,5.000000,1.000000,2653.000000

In [189]:
data = data.drop(["Unnamed: 0"],axis=1)
data["y"] = data["y"].map({"yes":1,"no":0})
data.head()

   interest_rate  credit  march  may  previous  duration  y
0          1.334     0.0    1.0  0.0       0.0     117.0  0
1          0.767     0.0    0.0  2.0       1.0     274.0  1
2          4.858     0.0    1.0  0.0       0.0     167.0  0
3          4.120     0.0    0.0  0.0       0.0     686.0  1
4          4.856     0.0    1.0  0.0       0.0     157.0  0

In [190]:
x1 = data[["interest_rate","march","credit","previous","duration"]]
y = data["y"]

In [191]:
x = sm.add_constant(x1)
log_reg = sm.Logit(y,x)
result = log_reg.fit()

Optimization terminated successfully.
         Current function value: 0.336664
         Iterations 7

In [192]:
test = pd.read_csv("Bank-data-testing.csv")
test = test.drop(["Unnamed: 0"],axis=1)
test["y"] = test["y"].map({"yes":1,"no":0})
test.head()
data.head()

   interest_rate  credit  march  may  previous  duration  y
0          1.334     0.0    1.0  0.0       0.0     117.0  0
1          0.767     0.0    0.0  2.0       1.0     274.0  1
2          4.858     0.0    1.0  0.0       0.0     167.0  0
3          4.120     0.0    0.0  0.0       0.0     686.0  1
4          4.856     0.0    1.0  0.0       0.0     157.0  0

In [193]:
actual = test["y"]
x_test = test[["interest_rate","march","credit","previous","duration"]]
x_test = sm.add_constant(x_test)

In [194]:
def confusion_matrix(data,actual_values,model):

        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [195]:
confusion_matrix(x_test,actual,result)

(array([[93., 18.],
        [13., 98.]]),
 0.8603603603603603)

In [196]:
confusion_matrix(x,y,result)

(array([[218.,  41.],
        [ 30., 229.]]),
 0.862934362934363)