In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

In [10]:
data = pd.read_csv("real_estate_price_size_year.csv")
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [11]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [12]:
x = data[["size","year"]]
y = data["price"]
x.shape

(100, 2)

In [14]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
def adj_R2(x,y):
    n=x.shape[0]
    p=x.shape[1]
    r =reg.score(x,y)
    result = 1
    result -= (1-r)*(n-1)/(n-p-1)
    return result

In [17]:
reg.coef_

array([ 227.70085401, 2916.78532684])

In [18]:
reg.intercept_

-5772267.017463278

In [20]:
reg.score(x,y)

0.7764803683276793

In [22]:
adj_R2(x,y)

0.77187171612825

In [23]:
f_reg = f_regression(x,y)

In [26]:
f_statistic = f_reg[0].round(3)
f_statistic

array([285.921,   0.855])

In [28]:
p_val = f_reg[1].round(3)
p_val

array([0.   , 0.357])

In [32]:
reg_summary = pd.DataFrame(data=x.columns.values,columns=["features"])
reg_summary["coefficient"] = reg.coef_
reg_summary["p-values"] = p_val
reg_summary["f_statistic"] = f_statistic
reg_summary

  features  coefficient  p-values  f_statistic
0     size   227.700854     0.000      285.921
1     year  2916.785327     0.357        0.855

In [33]:
new_data = pd.DataFrame(data=[750,480],columns=["size"])
new_data["year"] = [2009,2020]
new_data["predicted Val"] = reg.predict(new_data)
new_data

   size  year  predicted Val
0   750  2009  258330.344660
1   480  2020  228935.752673